<!-- Choose Shipping Modal -->
<div id="shipping_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ text_shipping_method }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% if shipping_methods %}
        <p>{{ text_shipping_method }} - {{ text_total_weight }}: {{ total_weight }}KG</p>
        {% for shipping_method in shipping_methods %}
        <div class="form-check">
          {% if default_shipping.shipping_courier_id == shipping_method.shipping_courier_id  %}
            <input class="form-check-input" id="shipping-courier-id-{{ shipping_method.shipping_courier_id }}" type="radio" name="shipping_method" value="{{ shipping_method.code }}" checked>
          {% else %}
            <input class="form-check-input" id="shipping-courier-id-{{ shipping_method.shipping_courier_id }}" type="radio" name="shipping_method" value="{{ shipping_method.code }}"> 
          {% endif %}
          <label for="shipping-courier-id-{{ shipping_method.shipping_courier_id }}" class="form-check-label">{{ shipping_method.title }} ({{ shipping_method.code }}) - {{ shipping_method.text }}</label>
        </div>
        {% endfor %}
        {% endif %}
      </div>  

      <div class="modal-footer">
        <button type="button" class="btn btn-default choose-shipping-method">{{ text_confirm }}</button>
      </div>
    </div>
    
  </div>
</div>
