{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit_category }}</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Category Name: </label>
          <div class="col-sm-10">
            <input type="text" name="sku" value="{{ category_name }}" placeholder="name" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Status: </label>
          <div class="col-sm-10">
            <select name="status" id="input-status" class="form-control">
              {% if status == 1 %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
              {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %}
            </select>
          </div>
        </div>
        </form>
      </div>


    </div>
  </div>

<!-- add item into category -->
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Category Product </h3>
        <div class="buttons" style="float:right; margin-top: -4px;">
          <button class="btn btn-sm btn-info btn-add-product" data-toggle="modal" data-target="#addProductModal">ADD PRODUCT</button>
          <button class="btn btn-sm btn-danger btn-delete-product">DELETE PRODUCT</button>
        </div>
        
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <table class="table table-bordered">
          <thead><tr>
            <td>Image</td>
            <td>Name</td>
            <td class="text-right">Price</td>
            <td></td>
          </tr></thead>
          {% for p in products %}
            <tr>
              <td><div class="p-img" style="background-image:url({{ p.image }})"></div></td>
              <td>{{ p.name }}</td>
              <td class="text-right">{{ p.price|number_format(2) }}</td>
              <td class="text-center"><input type="checkbox" name="remove_selected[]" value="{{ p.product_id }}"></td>
            </tr>
          {% endfor %}
          </table>
        </form>
      </div>


    </div>
  </div>
</div>


<div id="addProductModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Product To Category</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default add-to-category">{{ text_confirm }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>

<script>
$('.btn-add-product').on('click', function() {
  $.ajax({
    url: 'index.php?route=catalog/store_category/getNotCategoryProduct&user_token={{ user_token }}',
    type: 'post',
    data: { 
      store_category_id: {{ store_category_id }},
    },
    dataType: 'json',
    beforeSend: function() {
    },
    complete: function() {
    },
    success: function(json) {
       $('#addProductModal .modal-body').html('');
      var html = '<p>Total Product: '+ json.total +'</p> <table class="table table-bordered item-container">';
      if (json.products) {
        html+= '<thead><tr><td>Image</td> <td>Name</td> <td class="text-right">Price</td> <td></td></tr></thead>';
        $.each(json.products, function(i,v) {
          html+= '<tr>'
            + '<td width="70px"><div class="p-img" style="background-image:url('+ v.image +')"></div></td>'
            + '<td>'+ v.name +'</td>'
            + '<td class="text-right">'+ parseFloat(v.price).toFixed(2) +'</td>'
            + '<td class="text-center"><input type="checkbox" name="add_selected[]" value="'+ v.product_id +'"></td>'
            + '</tr>';
          })
      } else {
        html+= '<tr></td>No Product Found</td></tr>';
      }

      html+= '</table>';
      $('#addProductModal .modal-body').append(html);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('.btn-delete-product').on('click', function() {
  var product_ids = [];
  $('input[name="remove_selected[]"]').each(function() {
    if ($(this).is(":checked"))
    product_ids.push($(this).val());
  });

  if (product_ids.length > 0) {
    $.ajax({
      url: 'index.php?route=catalog/store_category/deleteStoreCategoryProduct&user_token={{ user_token }}',
      type: 'post',
      data: { 
        store_category_id: {{ store_category_id }},
        product_ids: product_ids
      },
      dataType: 'json',
      beforeSend: function() {
        $('.btn-delete-product').prop('disabled', true);
      },
      complete: function() {
        $('.btn-delete-product').prop('disabled', false);
      },
      success: function(json) {
        alertify.alert("Succesful", json['success'], function(){ window.location.reload(); });
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
});

$('.add-to-category').on('click', function() {
  var product_ids = [];
  $('input[name="add_selected[]"]').each(function() {
    if ($(this).is(":checked"))
    product_ids.push($(this).val());
  });

  if (product_ids.length) {
    $.ajax({
      url: 'index.php?route=catalog/store_category/addStoreCategoryProduct&user_token={{ user_token }}',
      type: 'post',
      data: { 
        store_category_id: {{ store_category_id }},
        product_ids: product_ids
      },
      dataType: 'json',
      beforeSend: function() {
        $('.add-to-category').prop('disabled', true);
      },
      complete: function() {
        $('.add-to-category').prop('disabled', false);
      },
      success: function(json) {
        alertify.alert("Succesful", json['success'], function(){ window.location.reload(); });
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
});
</script>

<style>
.p-img {
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}

#addProductModal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}
</style>
                        